<pre>{{newRecipe | json}}</pre>
<pre>{{newIn | json}}</pre>

<div class="row">
  <div class="col-xs-12">
    <form class="form-group">
      <div class="row">
        <div class="col-cs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" [(ngModel)]="newRecipe.name" class="form-control" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-cs-6">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" id="imagePath" name="imagePath" [(ngModel)]="newRecipe.imagePath" class="form-control" />
          </div>
        </div>
        <div class="col-cs-6">
          <img src="{{newRecipe.imagePath}}" class="img-responsive" />
        </div>
      </div>
      <div class="row">
        <div class="col-cs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              rows="6"
               name="description" [(ngModel)]="newRecipe.description"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-cs-12">
          <label>Ingredients</label>

          <!-- existing -->
          <ul>
            <li *ngFor="let item of newRecipe.ingredients; let i = index">
              <a (click)="editIng(i)">{{item.name}} <span class="text-bold">x{{item.amount}}</span></a>
            </li>
          </ul>

          <!-- new ingredients -->
          <div class="row ing-wrap">
            <div class="col-xs-6">
              <label>Name</label>
              <input [(ngModel)]="newIn.name" name="name" type="text" class="form-control" />
            </div>
            <div class="col-xs-2">
              <label>QTY</label>
              <input [(ngModel)]="newIn.amount" name="amount" type="number" class="form-control" />
            </div>
            <div class="col-xs-2">
              <button *ngIf="!editIngredientMode" (click)="addIng()" class="btn btn-success">Add</button>
              <button *ngIf="editIngredientMode" (click)="resetIng()" class="btn btn-warning">Update</button>
              <button *ngIf="editIngredientMode" (click)="cancelIng()" class="btn bg-gray">Cancel</button>
            </div>
          </div>

        </div>
      </div>
      <div class="row mt-1 text-right">
        <div class="btn bg-gray" type="button">Cancel</div>
        <div class="btn btn-success" type="submit" (click)="submit()">Save</div>
      </div>
    </form>
  </div>
</div>
