.ing-wrap {
  border: 1px solid #d0d0d0;
  padding: 0.75em;
  border-radius: 0.25em;
  margin: 0;
}

.mt-1 {
  margin-top: 1em;
  .btn {
    margin-right: 0.25em;
  }
}

.bg-gray {
  background: #efefef;
  border: 2px solid #cecece;
}

.text-bold {
  font-weight: bold;
}
